extends layout.pug 

block content  
    head
    title Flash cards
    body
    header 
    h1 Flash cards  
    section#content
        ul 
            each color in colors 
                li= color 
        h2= prompt  
        if hint 
            p Hint: #{hint} 
        else 
            p There is no hint.

